name: fastapi-workflow

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          
      - name: Run python tests
        run: python -m pytest src/routers

      - name: Build Docker image
        run: docker build -t fastapi-app .

      - name: Run fastapi
        run: docker run -d -p 8000:8000 fastapi-app